body {
    display: inline;
    box-sizing: content-box;
    color: var(--onyx);
    line-height: 1.5rem;
}

main {
    background-attachment: fixed;
    height:100vh;
    background-image: url('../assets/sauce-page.jpg');
    background-size: contain;
}

main::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    padding-top: 0.5%;
    padding-bottom: 0.8%;
    background-color:  #64AB20;
    width: 100%;
    border-bottom: 1px solid var(--green);
    z-index: 1;
}
header h1,
header h3 {
    color: white;
    margin:0;
    z-index: 2;
}

.message-h2 {
    color: white;
    margin: 0;
    font-size: 1.75rem;
    font-style: unset;
    line-height: 1.75rem;
}

nav a {
    color: white;
}
    
button {
    background: linear-gradient(#f1c787, #f18f01);
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: .8rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    }

button:hover {
    color: #f4f4f4;
    background: linear-gradient(#9ed2e9, #006e90);
}
button:focus {
    outline: 0;
}

.main-section {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: auto;
    background-color: transparent;
    position: relative;
    background-attachment: fixed;
}

.calendar-button-div {
    justify-content: flex-end;
    align-items: center;
}

#calendar-button {
    position: absolute;
    left: 84%;
    top: 12%;
}

.shopping-list-button-div{
    justify-content: flex-end;
    align-items: center;
}

#shopping-list-button{
    position: absolute;
    left: 52%;
    top: 12%;
}

#batch-recipe-container-div {
    display: flex;
    flex-wrap: wrap;
    height: 84%;
    overflow: scroll;
    scrollbar-color: none;
    min-width: 30%;
    max-width: 40%;
    border: 3px solid  var(--green) ;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    position: absolute;
    left: 1%;
    top: 13%;
    background-color: rgba(223, 223, 223, 0.5);
    padding-bottom: 5%;
}

#batch-recipe-container-div::-webkit-scrollbar {
    display: none;
}

.single-recipe-div {
    height: auto;
    width: 50vw;
    min-height: 250px;
    padding: 3%;
    margin: 2%;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    background-color: rgba(250, 240, 225, 0.9);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
}

.pre-cooked-image {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.preparation-div {
    height:auto;
    width: auto;
    margin: 3%;
}


.prep-time-span{
    margin: 3%;
    display: block;
}

.oven-temp-span {
margin: 3%;
display: block;
}

.ingredient-name-div {
    border: none;
}

.temp-time-div{
    margin: 1rem;
    padding: auto;
    height: auto;
    width: auto;
    border: none;
}

.name-el {
    margin-top: .5rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.name-el::first-letter {
    text-transform: capitalize;


}

.sauce-name {
    margin-top: auto;
    font-weight: 900;
    font-size: 1.3rem;
}
#sauce-div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 78%;
    border: 3px solid  var(--green) ;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    overflow: scroll;
    min-width: 20%;
    max-width: 30%;
    position: absolute;
    top: 19%;
    left: 45%;
    margin: auto;
    background-color: rgba(223, 223, 223, 0.5);
    padding-bottom: 5%;
}

#sauce-div::-webkit-scrollbar {
    display: none;
}

#sauce-div > button {
    padding-top: 15px;
}

.single-sauce-div {
    margin: 3%;
    padding: 5%;
    background-color: rgba(250, 240, 225, 0.9);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
}

.sauce-prep {
    padding-top: 2%;
    padding-bottom: 2%;
}
.batch-tips-div{
    margin: 1%;
    padding: 3%;


}
.tools-and-tips-div {
    text-align: left;
    height: 78%;
    min-width: 20%;
    max-width: 30%;
    overflow: scroll;
    margin: auto;
    padding: auto;
    padding-bottom: 5%;
    position: absolute;
    left: 80%;
    top: 19%;
    border: 3px solid  var(--green) ;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    background-color: rgba(223, 223, 223, 0.5);
    
}

.tools-and-tips-div::-webkit-scrollbar {
    display: none;
}

.tools-and-tips-div > h1, h2, h3
{
    margin: 7%;
    color: var(--green)
}

.tools-tips-header {
    color: var(--green);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  rgba(72, 197, 82, 0.644);
    -webkit-text-stroke: inset; 
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
}

.single-toolTip-container {
    margin: 4%;
    padding: 4%;
    background-color: rgba(250, 240, 225, 0.9);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
}
.single-toolTip-container > h3 {
    font-weight: 600;
    font-size: 1.3rem;
}

.equipment-div {
    justify-content: center;
    text-align: center;
    margin: 5%;
    padding: 4%;
    background-color: rgba(250, 240, 225, 0.9);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
    border-radius: 2rem 0.5rem 2rem 0.5rem;;
}

.equipment-div > h3 {
    font-weight: 600;
    font-size: 1.3rem;
}

.spacer-div {
    height: 100px;
}