body {
--green: #0E8602;
--sapphire: #006E90;
--carrot: #F18F01;
--lightblue: #ADCAD6;
--onyx: #393E41;
/* background-image: url(../assets/sauce-page.jpg);
background-size: 300px 300px;
background-blend-mode: lighten; */
}

header {
  background-color: white;
}

#welcome {
  text-align: center;
  font-weight: bold;
  margin-bottom: 6rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-style: italic;
  max-width: 400px;
  height: 3rem;
}

.calendar-container, .menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}

div>h4 {
  display: flex;
  font-size: 1.5rem;
  background-color: var(--carrot);
  color: white;
  height: 3rem;
  align-items: center;
  justify-content: center;
  }

div>h4, div>p {
  width: 20%;
  text-align: center;
  border: solid 2px white;
  margin: 0px;
  padding: 5px;
}

button {
  margin: var(--gutter);
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: auto;
  justify-content: center;
  position: relative;
}

.rendered-recipe-title {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--sapphire);
  color: white;
}

.rendered-recipe-step {
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
}

.step-number, div>button {
  margin-left: 20px;
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: bolder;
  font-size: 2rem;
  background-color: var(--carrot);
  border: solid white 1px;
  color: white;
  margin-right: 10px;
}

div>button {
  position: absolute;
  top: -20px;
  right: 5px;
}

h2 {
  font-size: 2rem;
}

body {
  display: inline;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.step-container {
  display: flex;
}

p {
  padding: 0px;
}