body {
--green: #0E8602;
--sapphire: #006E90;
--carrot: #F18F01;
--lightblue: #ADCAD6;
--onyx: #393E41;
}

header {
  background-color: white;
}

#welcome {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-style: italic;
  max-width: 400px;
  height: 3rem;
}

.calendar-container, .menu-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  position: relative;
}

/* weekday headers */
div>h4 {
  display: flex;
  font-size: 2rem;
  color: white;
  border: solid 3px white;
  border-radius: 2rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  margin-bottom: 1rem;
  background-color: var(--carrot);
  }

/* icon container div */
div>p {
  width: 20%;
  text-align: center;
  margin: 0px;
  padding: 5px;
}

button {
  margin: 3rem;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: auto;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.rendered-recipe-title {
  position: absolute;
  width: 90%;
  margin-bottom: 10px;
  background-color: var(--sapphire);
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  height: 3.5rem;
  left: 45px;
  border-radius: 2rem 0 0 0;
  top: -10px;

}

.rendered-recipe-step {
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
}

.step-number, div>button {
  margin-left: 20px;
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-weight: bolder;
  font-size: 2rem;
  background-color: var(--carrot);
  border: solid white 3px;
  color: white;
  margin-right: 10px;
}

.step-number {
  background-color: var(--sapphire);
}

/* close button */
div>button {
  position: absolute;
  top: -60px;
  right: -20px;
}

body {
  display: inline;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.step-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem'
}

.step-container p {
  padding: 0px;
  margin-bottom: 0px;
}

#border-div, #border-div-recipe {
  position: absolute;
  z-index: -1;
  border: 3px solid var(--carrot);
  width: 100%;
  height: 225px;
  top: 25px;
  border-radius: 2rem 0 2rem 0rem;
}

#border-div-recipe {
  display: none;
  height: 110%;
  left: 45px;
  top: -10px;
  width: 90%;
  border-color: var(--sapphire);
}

#spacer-div {
  height: 4rem;
}