h2 {
  text-align: center;
}

.calendar-container, .menu-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div>h3, div>p {
  width: 20%;
  text-align: center;
  border: solid 2px white;
  margin: 0px;
  padding: 5px;
}
